:root {
    --branco: #FFF;
    --cor-fundo: #e9ebfb;
    --lilas-primario: #dddaff;
    --lilas-primario: #6f7bff;
    --azul-escuro:  #15146a ;
    --cinza-primario: #585859;
    --cinza-secundario: #3D3D3D;
    --preto-primario: #0D0D0D;

    --cor-fonte-principal: var(--azul-escuro);
    --cor-fonte-secundaria:var(--branco);
    --cor-fundo-secundaria: var(--azul-escuro)
}