*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
     font-family: 'Oldenburg', 'Arial Narrow', Arial, sans-serif; 
    list-style-type: none;  
  }